body{
  background-color: #d1bbb4;
  max-width: 1100px;
  max-height: 100%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}
.container{
  background-color: #F15A29;
  /* margin: 0 auto; */
  max-width: 100%;
  color: black;
}
#bar{
  margin: 50px;
}
#bar > div{
  width: 50px;
  height: 5px;
  background-color: #fff;
  margin: 6px;
}
header{
  background-image: url('./assets/backgrounds/landing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-transform: capitalize;
  text-align: center;
  font-size: 35px;
  /* display: block; */
  position: relative;
  overflow: hidden;
  color: white;
  /* font-family: serif; */
}

.foodtop{
  display: flex;
  flex-direction: row;
  color: white;
  font-style: italic;
  height: 150px;
}
#offers > table{
  margin: 0px;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  font-style: normal;
}
#happy-hr{
  background-color: lightgray;
  color: black;
}
table{
  flex: 1;
  text-align: center;
}
#breakfast, #lunch, #dinner{
  flex: 1;
  text-align: center;
  padding-top: 50px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#breakfast{
  background-image: url('./assets/foodtop/breakfast.jpg');
}
#lunch{
  background-image: url('./assets/foodtop/lunch.jpg');
}
#dinner{
  background-image: url('./assets/foodtop/dinner.jpg');
}
/* article section styling */
.article{
  background-color: white;
  height: auto;
  width: auto;
  padding: 40px;
}

#food, #drinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#foodimg, #drinksimg{
  border: 10px solid white;
  box-shadow: 0 0 10px rgba(155, 151, 151, 0.5), inset 0 0 1px rgba(255, 255, 255, 0.6);
  width: 50%;
  margin-top: 50px;
  
}
#foodinf {
  margin-left: 60px;
  text-align: left;
  width: 50%;
}
#drinksimg{
  display: flex;
  flex-direction: row;
}

#drinksinfo{
  margin-right: 60px;
  text-align: right;
}











/* .menu{
  background-image: url('./assets/backgrounds/foodsBg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
} */

/* .menu > ul{
  background-color: white;
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* .customers{
  background-color: white;
  width: 100%;
  
} */
/* section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 100px auto;
  
} */
/* #customers{
  text-align: center;
} */

/* #about{
  text-align: center;
} */

/* #customers, #about{
  width: 70%;
  border: 10px solid white;
  box-shadow: 0 0 10px rgba(155, 151, 151, 0.5), inset 0 0 1px rgba(255, 255, 255, 0.6);
} */
/* #customer-image{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
} */

























}
/* header{
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 400px;
  background-image: url(./assets/backgrounds/landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
  
} */
/* #bar div{
  border-bottom: 2px solid white;
  margin: 0.5%;
  width: 2%;
  position: relative;
  top: 20px;
  left: 10px;
} */
/* #logo{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
} */
/* #logo p{
  text-transform: capitalize;
  color: white;
  font-size: 30px;
  width: 30%;
  text-align: center;
} */
/* #logo p > span{
  font-weight: bold;
} */

/* #foodtop{
  display: flex;
  flex-direction: row; */

/* }
#foodtop div > p:first-child{
  background-color: ;
  height: 50px;
} */

/* to be deleted */
/* footer{
  background-color: black;
} */ */